.print{ :style => "color:#888"}
  - title "Bills No #{@bill.id}"
  %p{ :style => "text-align:left" }
    %strong Name:
    = @bill.name || "------------"
  %p
    %strong Items Ordered:
    %table{ :style => "border:1px solid #888;margin:8px;width:230px"}
      %tr
        %th Item
        %th Quantity
        %th Unit Price
      - @bill.bill_contents.each do |bill_content|
        - if bill_content.quantity.to_i != 0
          %tr
            %td=bill_content.menu.name
            %td=bill_content.quantity
            %td=bill_content.menu.price
      %tr
        %td &nbsp;
        %td Total
        %td= @bill.total
