- title "Gulati Punjabi Swad"

%h3
  Important Links
  %ul
    %li
      = link_to "Google Busines", "http://www.google.com/placesforbusiness", :target => "_blank"
    %li
      = link_to "FaceBook", "http://www.facebook.com/gulatipunjabiswad", :target => "_blank"
