- title "Gulati Punjabi Swad"

%h3
  Important Links
  %ul
    %li
      = link_to "Google Busines", "www.google.com/placesforbusiness"
    %li
      = link_to "FaceBook", "http://www.facebook.com/gulatipunjabiswad"
